<footer class="footer">
    <div class="footer__upper wrapper">
        <a href="https://expertsmet.ru/" class="footer__upper-logo">
            <img class="footer__logo" src="../img/logo.png" alt="Логотип компании">
        </a>
        <h4 class="footer__logo-text">
            Центр сметного дела и экспертизы
        </h4>
        <div class="footer__main">
  
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Наши проекты</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Разработка сметной документации</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Экспертиза</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Услуги аутсорса</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Увеличение контракта</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">О нас</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Наши эксперты</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Преимущества работы с нами</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Наши заключения</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link"></a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__item-link">FAQ</a>
                </li>
                <li class="footer__item">
                    <a href="https://expertsmet.ru/articles/politika-konfidencialnosti.html" target="_blank" class="footer__item-link">Политика конфиденциальности</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__item-link">Статьи о нас</a>
                </li>
            </ul>
            <ul class="footer__contact-list">
                <li class="footer__contact-item">
                    <a class="footer__contact-link" href="tel:88003008772">
                        <svg class="footer__contact-svg" width="28" height="24" viewBox="0 0 28 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.93 10.427C8.09 14.1455 11.57 17.1807 15.815 19.0859L19.115 16.1952C19.52 15.8405 20.12 15.7222 20.645 15.8799C22.325 16.366 24.14 16.6288 26 16.6288C26.825 16.6288 27.5 17.2201 27.5 17.9428V22.5284C27.5 23.2511 26.825 23.8424 26 23.8424C11.915 23.8424 0.5 13.8433 0.5 1.50535C0.5 0.78268 1.175 0.191406 2 0.191406H7.25C8.075 0.191406 8.75 0.78268 8.75 1.50535C8.75 3.14778 9.05 4.72451 9.605 6.19612C9.77 6.656 9.65 7.16844 9.23 7.53634L5.93 10.427Z"
                                fill="#CDCDCD" />
                        </svg>
                        <span>
                            8 (800) 300 87 72
                        </span>
                    </a>
                </li>
                <li class="footer__contact-item">
                    <a class="footer__contact-link" href="https://wa.me/+79220593777">
                        <svg class="footer__contact-svg" width="34" height="33" viewBox="0 0 34 33" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M17.0004 3.9043C9.48979 3.9043 3.40039 9.63288 3.40039 16.7004C3.40039 19.196 4.17083 21.5185 5.48459 23.4868L3.48675 28.0258C3.24773 28.5694 3.52211 29.1923 4.10011 29.4191C4.39013 29.5318 4.69987 29.5231 4.96779 29.4191L9.79137 27.5382C11.8827 28.7735 14.3484 29.5004 17.0004 29.5004C24.51 29.5004 30.6004 23.768 30.6004 16.7004C30.6004 9.63288 24.51 3.9043 17.0004 3.9043ZM17.0004 27.3673C14.8829 27.3673 12.8058 26.8007 10.995 25.7324L10.0035 25.1473L6.62767 26.4635L8.02643 23.2849L7.40457 22.3516C6.26659 20.6479 5.66717 18.6937 5.66717 16.7004C5.66717 10.8208 10.7515 6.03704 17.0004 6.03704C23.2492 6.03704 28.3336 10.8205 28.3336 16.7004C28.3336 22.5807 23.2492 27.3673 17.0004 27.3673Z"
                                fill="#CDCDCD" />
                            <path
                                d="M21.8082 21.2239C20.9249 22.057 19.4884 22.057 18.6016 21.2239C18.6016 21.2239 12.1923 15.1916 12.1933 15.1916C11.308 14.3585 11.308 13.0087 12.1933 12.1755L13.7951 10.668L16.1989 14.4375L14.997 15.5685L18.2011 18.585L19.403 17.454L23.4126 19.7179L21.8082 21.2239Z"
                                fill="#CDCDCD" />
                        </svg>
                        <span class="footer__contact-text">
                            Whatsapp
                        </span>
                    </a>
                </li>
                <li class="footer__contact-item">
                    <a class="footer__contact-link" href="mailto:mail@expertsmet.ru">
                        <svg class="footer__contact-svg" width="32" height="29" viewBox="0 0 32 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.33366 4.72266H26.667C28.1337 4.72266 29.3337 5.77381 29.3337 7.05855V21.0739C29.3337 22.3587 28.1337 23.4098 26.667 23.4098H5.33366C3.86699 23.4098 2.66699 22.3587 2.66699 21.0739V7.05855C2.66699 5.77381 3.86699 4.72266 5.33366 4.72266Z"
                                stroke="#AFAFB1" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M29.3337 7.05859L16.0003 15.2342L2.66699 7.05859" fill="#CDCDCD" />
                        </svg>
                        <span class="footer__contact-text">
                            mail@expertsmet.ru
                        </span>
                    </a>
                </li>
                <li class="footer__contact-item">
                    <div class="footer__contact-link">
                        <svg class="footer__contact-svg" width="32" height="29" viewBox="0 0 32 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.0003 26.3199C23.3641 26.3199 29.3337 21.0908 29.3337 14.6404C29.3337 8.19002 23.3641 2.96094 16.0003 2.96094C8.63653 2.96094 2.66699 8.19002 2.66699 14.6404C2.66699 21.0908 8.63653 26.3199 16.0003 26.3199Z"
                                stroke="#CDCDCD" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M16 7.63281V14.6405L20 18.1444" stroke="#CDCDCD" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="footer__contact-work">
                            Работаем<br>
                            Пн-Пт 9:00-18:00
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="footer__social-list">
            <li class="footer__social-item">
                <a href="https://dzen.ru/site_expertsmet" target="_blank" class="footer__social-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#dzen"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="https://t.me/expertsmet" target="_blank" class="footer__social-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-item">
                <a href="https://vk.com/site_expertsmet" target="_blank" class="footer__social-link">
                    <svg class="footer__social-icon">
                        <use xlink:href="../img/sprite.svg#vk"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__lower">
        <p class="footer__lower-design">
            © 2024 EXPERTsmet
        </p>
        <p class="footer__lower-adress">
            г.Москва, ул. Шелепихинская набережная. д.34 к 6
        </p>
        <p class="footer__lower-inn">
            ИНН
        </p>
        <div class="footer__lower-block">
            <p class="footer__lower-text">
                Эффективное составление сметной документации играет ключевую роль в&nbsp;успешном завершении
                строительных проектов. Наша компания предлагает высококвалифицированные услуги
                по&nbsp;составлению смет, которые помогут вам достичь желаемых результатов
                <br>
                <br>
                Сделайте правильный выбор и&nbsp;доверьтесь профессионалам в&nbsp;сфере составления сметной
                документации. Свяжитесь с&nbsp;нами уже сегодня, и&nbsp;наша команда поможет вам достичь успеха
                в&nbsp;ваших строительных проектах
            </p>
            <p class="footer__lower-text">
                Наша цель&nbsp;&mdash; сотрудничество с&nbsp;вашей командой и&nbsp;создание продуктивной рабочей
                атмосферы. Мы&nbsp;готовы взять на&nbsp;себя ответственность за&nbsp;сметное дело, чтобы
                вы&nbsp;могли сосредоточиться на&nbsp;других аспектах проекта
                <br>
                <br>
                Мы&nbsp;всегда готовы ответить на&nbsp;ваши вопросы и&nbsp;консультировать вас по&nbsp;всем
                аспектам сметного дела. Наша команда экспертов в&nbsp;сметном деле с&nbsp;радостью поделится
                своим опытом и&nbsp;поможет вам принимать взвешенные решения
            </p>
  
        </div>
    </div>
    <ul class="footer__basement-list wrapper">
        <li class="footer__basement-item">
            <a href="#" class="footer__basement-link">
                УСЛУГИ
            </a>
        </li>
        <li class="footer__basement-item">
            <a href="#" class="footer__basement-link">
                НАШИ ПРОЕКТЫ
            </a>
        </li>
        <li class="footer__basement-item">
            <a href="#" class="footer__basement-link">
                КАЛЬКУЛЯТОР СТОИМОСТИ
            </a>
        </li>
        <li class="footer__basement-item">
            <a href="https://expertsmet.ru/#calculator" class="footer__basement-link">
                О КОМПАНИИ
            </a>
        </li>
        <li class="footer__basement-item">
            <a href="https://expertsmet.ru/articles/articles.html" class="footer__basement-link">
                БЛОГ
            </a>
        </li>
        <li class="footer__basement-item">
            <a href="https://expertsmet.ru/articles/contacts.html" class="footer__basement-link">
                КОНТАКТЫ
            </a>
        </li>
    </ul>
    <p class="footer__text">
        Разработка сметной документации "EXPERTsmet"
    </p>
    <div class="sidebar">
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <h3 class="sidebar__item-title">
                    составление сметной документации
                </h3>
            </li>
            <li class="sidebar__item">
                <a href="https://dzen.ru/site_expertsmet" target="_blank" class="sidebar__item-link">
                    <svg class="sidebar__item-icon">
                        <use xlink:href="../img/sprite.svg#dzen"></use>
                    </svg>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="https://t.me/expertsmet" target="_blank" class="sidebar__item-link">
                    <svg class="sidebar__item-icon">
                        <use xlink:href="../img/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="https://vk.com/site_expertsmet" target="_blank" class="sidebar__item-link">
                    <svg class="sidebar__item-icon">
                        <use xlink:href="../img/sprite.svg#vk"></use>
                    </svg>
                </a>
            </li>
        </ul>
        @include('../partials/chatbot.html')
    </div>
  </footer>