{% load static %}



<section class="experience">
  <div class="wrapper">
      <div class="experience__inner">
          <div class="experience__content">
              <h2 class="experience__title">
                  <span class="experience__title-line">Имеем большой опыт</span>
                  <span class="experience__title-line">в разработке сметной</span>
                  <span class="experience__title-line">документации и экспертизе</span>
              </h2>
              
              <p class="experience__description">
                  Наша компания имеет значительный опыт в разработке сметной документации и сопровождении проектов при прохождении экспертизы. Мы помогаем нашим клиентам подготовить качественную документацию и успешно пройти государственную экспертизу с первого раза. Обратившись к нам, вы можете быть уверены в нашем профессионализме и эффективности.
              </p>
              
              <div class="experience__stats">
                  <div class="stat-item">
                      <div class="stat-number">8+</div>
                      <div class="stat-label">лет опыта</div>
                  </div>
                  <div class="stat-item">
                      <div class="stat-number">500+</div>
                      <div class="stat-label">успешных проектов</div>
                  </div>
                  <div class="stat-item">
                      <div class="stat-number">98%</div>
                      <div class="stat-label">прохождения экспертизы</div>
                  </div>
              </div>
              
              <p class="experience__additional">
                  Кроме того, мы предоставляем услуги по сметному аутсорсингу, разработке исполнительной документации, составлению закрывающих документов и многое другое. Наши специалисты обладают высокой квалификацией и опытом работы с нормативными базами ФСНБ-2022, ФЕР, ТЕР и готовы предоставить нашим клиентам компетентное и профессиональное сопровождение в любых вопросах сметного дела.
              </p>
          </div>
          
          <div class="experience__image">
              <div class="experience__photo-container">
                  <img src="{% static 'main/img/Leonid_Goldberg.webp' %}" alt="Леонид Гольдберг - Основатель EXPERTsmet" class="experience__photo">
                  <div class="experience__person-info">
                      <h3 class="experience__person-name">Леонид Гольдберг</h3>
                      <p class="experience__person-position">Основатель EXPERTsmet</p>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="experience__divider"></div>
  </div>
</section>