{% load static %}
<section class="expertise wrapper">
    <h2 class="expertise-title">
        Наши <span class="title-color"> положительные</span><br> заключения экспертизы
    </h2>
    <h3 class="expertise-subtitle">
        Предлагаем вам ознакомиться с нашими заключениями экспертизы
    </h3>
    <div class="expertise-info">
        <p class="expertise-text">
            Мы гордимся нашим колоссальным опытом в строительстве и ответственным подходом к каждому
            проекту
        </p>
        <p class="expertise-text">
            С годами успешной деятельности в отрасли строительства, мы накопили богатый опыт,
            который
            позволяет нам эффективно решать самые сложные задачи
        </p>
    </div>
    <div class="expertise__container">

        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_1.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_1.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_2.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_2.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_3.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_3.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_4.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_4.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_5.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_5.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_6.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_6.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_7.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_7.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_7.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_7.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_8.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_8.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_9.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_9.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="expertise-picture expertise-item">
                        <source srcset="{% static 'main/img/expertise_10.webp' %}" type="image/webp">
                        <img src="{% static 'main/img/expertise_10.jpg' %}" alt="наши заключения экспертизы"
                            class="expertise-img">
                    </picture>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>