{# {% include 'main/partials/partners.html' %} #}
{% load static %}


<section class="partners-section">

    <div class="wrapper">
        <h2 class="partners-title">Нам <span class="accent-color">доверяют</span></h2>
        <p class="partners-subtitle">Более 50+ компаний выбрали нас для разработки сметной документации</p>
    </div>
    <div class="marquee-container">
        <div class="marquee-track">
            <!-- Первый набор логотипов -->
            <div class="marquee-content">
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_1.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_2.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_3.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_4.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_5.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_6.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_7.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_8.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
            </div>
            
            <!-- Дублирующий набор логотипов для бесшовной прокрутки -->
            <div class="marquee-content">
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_1.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_2.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_3.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_4.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_5.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_6.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_7.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
                <div class="partner-item">
                    <img src="{% static 'main/img/partners_8.jpg' %}" alt="Партнер" class="partner-logo">
                </div>
            </div>
        </div>
    </div>
</section>