
{# {% include 'main/partials/programs.html' %} #}
{% load static %}
<section class="programs wrapper">
    <h2 class="programs__title">
        Наши <span class="title-color">программные комплексы</span> и базы
    </h2>
    <div class="programs__container-upper flex">
        <div>

            <h3 class="programs__item-title">
                Сметные программы
            </h3>
            <ul class="programs-list">
                <li class="pragrams-item">

                    ГРАНД-Смета

                </li>
                <li class="pragrams-item">

                    Smeta.RU

                </li>
                <li class="pragrams-item">

                    ГОССТРОЙСМЕТА

                </li>
                <li class="pragrams-item">

                    Турбо-Сметчик

                </li>
                <li class="pragrams-item">

                    РИК

                </li>
                <li class="pragrams-item">

                    SmetaWIZARD

                </li>
                <li class="pragrams-item">

                    Система ПИР

                </li>
            </ul>
        </div>
        <picture class="programs__upper-picture">
            <source srcset="" type="image/webp">
            <img class="programs__upper-img" src="{% static 'main/img/programs__upper.png' %}"
                alt="Гранд смета и смета.ру">
        </picture>
        <div class="programs__upper-block">
            <h3 class="programs__complect-title">
                В комплект сметной документации входит:
            </h3>
            <ul class="programs__complect">
                <li class="programs__complect-item">

                    Сводный сметный расчет (ССР)

                </li>
                <li class="programs__complect-item">

                    Объектный сметный расчет (ОСР)

                </li>
                <li class="programs__complect-item">

                    Локальный сметный расчет (ЛСР)

                </li>
            </ul>
            <h3 class="programs__complect-title">
                Выполнения работ
            </h3>
            <ul class="programs__complect">
                <li class="programs__complect-item">

                    КС-2 — Акт о приемке выполненных работ

                </li>
                <li class="programs__complect-item">

                    КС-3 — Справка о стоимости выполненных работ и затрат

                </li>
                <li class="programs__complect-item">

                    М-29 — Отчет о расходе материалов в строительстве

                </li>
                <li class="programs__complect-item">

                    КС-6а — Журнал учета выполненных работ

                </li>
            </ul>
        </div>
    </div>
    <div class="programs__container flex">
        <div class="programs__section-list">
            <div class="programs__section">
                <div class="programs__block-info">
                    <h3 class="programs__info-title">
                        Сметно-нормативные базы предназначены для следующих целей:
                    </h3>
                    <ul class="programs__block-list">
                        <li class="programs__block-item">
                            Составления сметной документации на строительство, ремонт и реставрацию
                            объектов
                            различного назначения, включая жилищно-коммунальные, социальные и
                            промышленные
                        </li>
                        <li class="programs__block-item">
                            Разработки укрупненных показателей стоимости различных видов и
                            комплексов работ,
                            которые выполняются в строительстве
                        </li>
                        <li class="programs__block-item">
                            Формирования договорных цен на продукцию и услуги в области
                            строительства
                        </li>
                        <li class="programs__block-item">
                            Осуществления расчетов за выполненные строительные работы
                        </li>
                    </ul>
                    <p class="programs__block-text">
                        Эти сметно-нормативные базы применяются как для работ, финансируемых из
                        государственного бюджета, так и для работ, финансируемых из коммерческих
                        источников
                    </p>
                </div>

            </div>
            <div class="programs__section base flex">
                <div>

                    <h3 class="section__base-title">
                        Нормативные базы
                    </h3>
                    <ul class="section__base-list">
                        <li class="section__base-item">
                            <p class="section__base-text">
                                ФЕР
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                ТЕР МО
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                ТЕР всех регионов России
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                ТСН
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                СН
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                ГЭСН
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                СБЦ
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                ОСНБЖ
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                РЖД
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                Газпром
                            </p>
                        </li>
                    </ul>
                </div>
                <div>

                    <h3 class="section__base-title">
                        Индексы, Коэффициенты
                    </h3>
                    <ul class="section__base-list">
                        <li class="section__base-item">
                            <p class="section__base-text">
                                Индексы к ФЕР-2001
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                Индексы к ТСН-2001
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                Индексы к ТСН-2001.13-2
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                Индексы к ТЕР-2001 Московской области
                            </p>
                        </li>
                        <li class="section__base-item">
                            <p class="section__base-text">
                                Прогнозные индексы Минстроя РФ
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="programs__section">
                <div class="programs__lower">
                    <h3 class="programs__lower-title">
                        С нами <span class="title-color">вы можете</span>
                    </h3>
                    <ul class="programs__lower-list">
                        <li class="programs__lower-item">
                            Составить смету Ресурсным методом
                        </li>
                        <li class="programs__lower-item">
                            Составить смету Ресурсно индекным методом
                        </li>
                        <li class="programs__lower-item">
                            Составить смету в РИК
                        </li>
                        <li class="programs__lower-item">
                            Составить смету в ГРАНД-Смета
                        </li>
                        <li class="programs__lower-item">
                            Составить смету в Smeta.ru
                        </li>
                        <li class="programs__lower-item">
                            Составить смету на ПИР
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <picture class="programs__container-picture">
            <source srcset="{% static 'main/img/programs__base.webp' %}" type="image/webp">
            <img class="programs__container-img" src="{% static 'main/img/programs__base.png' %}" alt="Сметные базы">
        </picture>

    </div>
</section>