{% load static %}

<section class="smi wrapper">
    <h2 class="smi__title">
        Мы в СМИ
    </h2>
    <ul class="smi__list list-reset">
        <li class="smi__item">
            <a href="https://vo.plus.rbc.ru/partners/6501c6167a8aa9be7b02fffd" class="smi__item-link" target="_blank" rel="nofollow">
                <img src="{% static 'main/img/rbc.png' %}" alt="" class="smi__item-img">
                <p class="smi__item-text">
                    EXPERTsmet дали интервью для РБК о важности профессионального подхода к сметной документации
                </p> 
            </a>
        </li>
        <li class="smi__item">
            <a href="https://aif.ru/money/economy/dachi-i-pavodki-eksperty-rasskazali-mozhno-li-sderzhat-rost-cen-na-stroyku" class="smi__item-link" target="_blank" rel="nofollow">
                <img src="{% static 'main/img/aif.png' %}" alt="" class="smi__item-img">
                <p class="smi__item-text">
                    EXPERTsmet дали комментарий для "Аргументы и факты" о прогнозах цен на строительные материалы в 2024 году
                </p>
            </a>
        </li>
        <li class="smi__item">
            <a href="https://regions.ru/ekonomika/eksperty-tsement-i-drugie-stroymaterialy-mogut-podorozhat-v-podmoskove-v-blizhayshie-mesyatsy" class="smi__item-link" target="_blank" rel="nofollow">
                <img src="{% static 'main/img/regions.png' %}" alt="" class="smi__item-img">
                <p class="smi__item-text">
                    EXPERTsmet дали комментарий по поводу роста цен на строительные материалы для REGIONS.RU
                </p>
            </a>
        </li>
        <li class="smi__item">
            <a href="https://pronovostroy.ru/news/13355739-publikuem-trendy-sovremennoy-zhiloy-arkhitektury-novostroek/" class="smi__item-link" target="_blank" rel="nofollow">
                <img src="{% static 'main/img/novostroy.png' %}" alt="" class="smi__item-img">
                <p class="smi__item-text">
                    EXPERTsmet дали комментарий для pronovostroy о трендах современных новостроек
                </p>
            </a>
        </li>
    </ul>
</section>